.heading {
  text-align: center;
}
.subheading {
  font-size:18px;
}

.element:hover{
  background-color: #0c1842;
}
.mat-h5, .mat-typography h5 {
  margin-bottom:5px;
  margin-top: 5px;
}
