.heading {
  text-align: center;
}
.subheading {
  font-size:18px;
}

.element:hover{
  background-color: #0c1842;
}
.mat-h5, .mat-typography h5 {
  margin-bottom:5px;
  margin-top: 5px;
}
nb-dialog-container {
  overflow: hidden scroll;
  margin-right: -5px;
}
.holder {
  max-height:40vh;
  overflow: hidden scroll;
}
