<div class="cover">
    <div class="head">
        <div class="title">
            OCDE
        </div>
        <br>
        <div class="subtitle">
            Online Coding and Development Environment
        </div>
    </div>
    <div id="particles-js"></div>
    <!-- <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles> -->
</div>
<nb-layout>
    <nb-layout-column>
        <div style="text-align: center;">
            <h2>OCD-E</h2>
            <!-- <img src="assets/editor.jpg" height="100vh"> -->
            <p>OCD-E is a fully featured cloud based IDE supporting several popular languages along with your own server space for storage of your code.</p>
            <button nbButton status="primary" routerLink="/auth/register">Register!</button>

            <p>Want to use our API for running your code on our servers? Check our API Docs here:</p>
            <button nbButton status="primary">API Documentation</button>
        </div>
    </nb-layout-column>
</nb-layout>