<nb-card>
  <nb-card-body>

    <nb-card-header class="heading">Available Problems To Submit <br> </nb-card-header>

        <app-problemlist contestId=0></app-problemlist>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <nb-card-header class="heading">Running Contests <br> </nb-card-header>

        <app-contestlist state="current"></app-contestlist>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <nb-card-header class="heading">Past Contests <br> </nb-card-header>

    <app-contestlist state="past"></app-contestlist>
  </nb-card-body>
</nb-card>

