<!-- <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive> -->
<!-- <button nbButton style="cursor:pointer; margin-bottom:20px" (click)="newFile()">
    <nb-icon icon="plus-outline"></nb-icon>
    New File
</button>
<button nbButton style="cursor:pointer" (click)="newFile()">
    <nb-icon icon="trash-2-outline"></nb-icon>
    Delete File
</button>
<nb-menu [items]="items" tag="filelist"></nb-menu> -->
<!-- </nb-sidebar> -->

<nb-card>
    <nb-card-body>

        <label class="search-label" for="search">Search:</label>
        <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input" />
        <br>
        <button class="new-file-button" nbButton style="float: right; cursor:pointer" (click)="newFile(-1)">
            <nb-icon icon="plus-outline"></nb-icon>
            New File
        </button>
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource">

            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

            <ng-container [nbTreeGridColumnDef]="customColumn">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                    Your Files
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" (dblclick)="onClick(row,dialog)" (click)="onSingleCick(row)" [ngClass]="{'bar': row.data.id == activeFileID}" (contextmenu)="onRightClick(row)" [shAttachMenu]="menu2">
                    <nb-fs-icon [isFile]="row.data.is_file" [expanded]="row.expanded"></nb-fs-icon>
                    {{row.data[customColumn]}}
                </td>
            </ng-container>
        </table>

    </nb-card-body>
</nb-card>

<!-- Right click menu-->
<sh-context-menu class="no-pad" #menu2>
    <ng-template class="no-pad" shContextMenuItem>
        <!-- <div>
        Menu Item - 1
      </div> -->
        <nb-card class="no-pad" style="border-radius: 10px;">
            <nb-list style="border-radius: 10px;">
                <nb-list-item *ngFor="let item of items" class="menuItem" (click)="itemClicked(item.title)">
                    <table class="no-pad">
                        <tr class="no-pad">
                            <td class="some-pad">
                                <nb-icon [icon]="item.icon"></nb-icon>
                            </td>
                            <td class="some-pad">{{ item.title }}</td>
                        </tr>
                    </table>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </ng-template>
</sh-context-menu>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Change File?</nb-card-header>
        <nb-card-body>Do you really want to open this file? Your updates to the current file will be lost</nb-card-body>
        <nb-card-footer>
            <button class="cancel" nbButton status="primary" (click)="ref.close(false)" style="float:left">Cancel</button>
            <button nbButton status="danger" (click)="ref.close(true)" style="float:right">Yes. Change File</button>
        </nb-card-footer>
    </nb-card>
</ng-template>