<!-- <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive> -->
<!-- <button nbButton style="cursor:pointer; margin-bottom:20px" (click)="newFile()">
    <nb-icon icon="plus-outline"></nb-icon>
    New File
</button>
<button nbButton style="cursor:pointer" (click)="newFile()">
    <nb-icon icon="trash-2-outline"></nb-icon>
    Delete File
</button>
<nb-menu [items]="items" tag="filelist"></nb-menu> -->
<!-- </nb-sidebar> -->

<nb-card>
    <nb-card-body>

        <label class="search-label" for="search">Search:</label>
        <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input" />
        <br>
        <button class="new-file-button" nbButton style="float: right; cursor:pointer" (click)="newFile()">
            <nb-icon icon="plus-outline"></nb-icon>
            New File
        </button>
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource">

            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

            <ng-container [nbTreeGridColumnDef]="customColumn">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                    Your Files
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" (dblclick)="onClick(row, dialog)" (click)="onSingleCick(row,dialog)">
                    <div class="bar" *ngIf="row.data.id === activefile; else elseBlock">
                        <nb-fs-icon [isFile]="row.data.is_file" [expanded]="row.expanded"></nb-fs-icon>
                        {{row.data[customColumn]}}
                    </div>
                    <ng-template #elseBlock>
                        <nb-fs-icon [isFile]="row.data.is_file" [expanded]="row.expanded"></nb-fs-icon>
                        {{row.data[customColumn]}}
                    </ng-template>
                </td>
            </ng-container>
        </table>

    </nb-card-body>
</nb-card>

<ng-template #dialog let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Choose Action</nb-card-header>
        <nb-card-body>
            <!-- <button nbButton class="dialog" status="primary" (click)="ref.close(0)">Close Dialog</button> <br> -->
            <button nbButton class="dialog" status="success" (click)="ref.close(1)">Open File</button> <br>
            <button nbButton class="dialog" status="danger" (click)="ref.close(2)">Delete File</button> <br>
        </nb-card-body>
    </nb-card>
</ng-template>