<nb-card>
    <nb-card-body>

        <label class="search-label" for="search">Search:</label>
        <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input">
        <button nbButton style="float: right; cursor:pointer" (click)="newFile()">
            <nb-icon icon="plus-outline"></nb-icon>
            New File
        </button>
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">

            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

            <ng-container [nbTreeGridColumnDef]="customColumn">
                <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
                    {{customColumn}}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="onClick(row, dialog)">
                    <nb-fs-icon [isFile]="row.data.is_file" [expanded]="row.expanded"></nb-fs-icon>
                    {{row.data[customColumn]}}
                </td>
            </ng-container>

            <ng-container *ngFor="let column of defaultColumns; let index = index" [nbTreeGridColumnDef]="column" [showOn]="getShowOn(index)">
                <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
                    {{column}}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="onClick(row, dialog)">{{row.data[column] || '-'}}</td>
            </ng-container>
        </table>

    </nb-card-body>
</nb-card>

<ng-template #dialog let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Choose Action</nb-card-header>
        <nb-card-body>
            <button nbButton class="dialog" status="primary" (click)="ref.close(0)">Close Dialog</button> <br>
            <button nbButton class="dialog" status="success" (click)="ref.close(1)">Open File</button> <br>
            <button nbButton class="dialog" status="danger" (click)="ref.close(2)">Delete File</button> <br>
        </nb-card-body>
    </nb-card>
</ng-template>