<ace-editor #editor style="height:50%;">
</ace-editor>
<nb-card>
    <nb-card-body>
        <nb-actions size="small" fullWidth>
            <nb-action icon="save-outline" (click)="save()">Save</nb-action>
            <nb-action icon="arrow-right-outline" (click)="run()">
                Run
            </nb-action>
        </nb-actions>
    </nb-card-body>
</nb-card>

<div class="row">
    <div class="col-8">
        <p>{{status}}</p>
    </div>
    <div class="col-4">
        Select Language:
        <nb-select placeholder="Select Language" [(selected)]="language">
            <nb-option value="c">C </nb-option>
            <nb-option value="c++">C++</nb-option>
            <nb-option value="python">Python</nb-option>
            <nb-option value="python3">Python 3</nb-option>
        </nb-select>
    </div>
</div>
<label class="input-label" for="input">Input:</label>
<!-- <input type="text" nbInput placeholder="Text field"> -->
<textarea type="text" nbInput fullWidth id="input" placeholder="Add Input for your code" style="height: 150px; margin-bottom: 10px;" status="info" [(ngModel)]="input"></textarea>

<label class="output-label" for="output">Output:</label>
<!-- <input type="text" nbInput placeholder="Text field"> -->
<textarea readonly type="text" nbInput fullWidth id="output" placeholder="Output...." style="height: 150px; margin-bottom: 10px;" status="info" [(ngModel)]="output">
</textarea>