<ace-editor #editor style="height:50%;">
</ace-editor>
<nb-card>
    <nb-card-body>
        <nb-actions size="small" fullWidth>
            <nb-action icon="save-outline" (click)="save()">Save</nb-action>
            <nb-action icon="arrow-right-outline" (click)="run()">
                Run
            </nb-action>
        </nb-actions>
    </nb-card-body>
</nb-card>

<p>{{status}}</p>

<label class="input-label" for="input">Input:</label>
<!-- <input type="text" nbInput placeholder="Text field"> -->
<textarea type="text" nbInput fullWidth id="input" placeholder="Add Input for your code" style="height: 150px; margin-bottom: 10px;" status="info" [(ngModel)]="input"></textarea>

<label class="input-label" for="input">Output:</label>
<!-- <input type="text" nbInput placeholder="Text field"> -->
<textarea readonly type="text" nbInput fullWidth id="input" placeholder="Add Input for your code" style="height: 150px; margin-bottom: 10px;" status="info" [(ngModel)]="output">
</textarea>