<div class="header-container">
    <div class="logo-container">
        <!-- <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a> -->
        <a class="logo" href="#" (click)="navigateHome()">OCDE</a>
    </div>
    <!-- <nb-actions size="small">
        <nb-action icon="home-outline" (click)="gotoLink(['home'])">Home</nb-action>
        <nb-action icon="code-outline" (click)="gotoLink(['dashboard','editor'])">Editor</nb-action>
        <nb-action icon="browser-outline" (click)="gotoLink(['dashboard','main'])">Dashboard</nb-action>
        <nb-action icon="bulb-outline" (click)="gotoLink(['dashboard','compete'])">Compete</nb-action>
    </nb-actions> -->
    <nb-actions size="small">
        <nb-action (click)="gotoLink(['home'])">
            <nb-icon icon="home-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon> Home
        </nb-action>
        <nb-action (click)="gotoLink(['dashboard','main'])">
            <nb-icon icon="browser-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon> Dashboard</nb-action>
        <nb-action (click)="gotoLink(['dashboard','editor'])">
            <nb-icon icon="code-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon> Editor</nb-action>
        <nb-action (click)="gotoLink(['dashboard','compete'])">
            <nb-icon icon="bulb-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon> Compete</nb-action>
    </nb-actions>
</div>

<div class="header-container">
    <div *ngIf="user" class="header-container">
        <nb-actions size="small">

            <!-- <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action> -->
            <nb-action class="user-action" *ngIf = "user?.loggedin; else elseBlock">
                <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="user?.username" [picture]="user?.ProfilePicture">
                </nb-user>
            </nb-action>
            <ng-template #elseBlock><button nbButton status="basic" (click)="gotoLink(['auth','login'])">Log in</button></ng-template>
        </nb-actions>
    </div>
</div>