<nb-layout windowMode>

    <nb-layout-header fixed>
        <ngx-header></ngx-header>
    </nb-layout-header>

    <nb-sidebar tag="code" class="menu-sidebar">
        <app-filelist></app-filelist>
    </nb-sidebar>

    <!-- <nb-layout-column class="colored-column-warning">Left column</nb-layout-column> -->
    <!-- <nb-layout-column class="colored-column-danger">Right column</nb-layout-column> -->
    <nb-layout-column style="overflow-y: scroll;">
        <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer fixed>
    </nb-layout-footer>

</nb-layout>